* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	text-align: center;
	background: #222222;
	color: white;
	padding: 8px;
}

.container {
	flex-grow: 1;
	background: #dedede;
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}


.points-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.points {
	display: flex;
	gap: 16px;
}

.content {
	display: flex;
	flex-direction: column;
	background: #222222;
	padding: 12px;
	gap: 8px;
	border-radius: 8px;
}

.buttons {
	display: flex;
	gap: 12px;
}

.buttons button {
	border: 0;
	padding: 8px 16px;
	border-radius: 8px;
}

.content span {
	color: white;
}


